.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-primary);
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__content {
  padding: 16px;
}

.sidebar__logo {
  text-align: center;
  color: var(--white);
  
  h4 {
    font-weight: 400;
  }

  img {
    width: 20%;
  }
}

.sidebar__items {
  row-gap: 8px;

  .sidebar__childs {
    height: 42px;
    overflow: hidden;
    row-gap: 6px;

    .sidebar__childs__title {
      min-height: 42px;
      background-color: transparent;
      color: var(--white);
    }

    div {
      display: flex;
      align-items: center;
      column-gap: 8px;
      padding-left: 8px;
      height: 42px;
      border-radius: 8px;
      background-color: var(--white);
      cursor: pointer;
    }
  }

  .sidebar__no-childs {
    height: 42px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: 8px;
    padding-left: 8px;
    background-color: var(--white);
    cursor: pointer;
  }
}

.sidebar__open-close {
  height: 55px;
  background-color: var(--color-primary-100);
  cursor: pointer;
  display: grid;
  place-items: center;
  color: var(--white);
}

.open {
  height: max-content !important;
}
