<section
  class="sidebar d-flex"
  [ngClass]="{ 'sidebar__width--250': sidebar.expanded }"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="sidebar__content">
    <div class="sidebar__logo">
      <img 
        [ngClass]="{ 'sidebar__logo-width--70': !sidebar.expanded }"
        src="/assets/images/logo.png" alt="Logo" 
      />
      <h4>Closet</h4>
    </div>

    <div class="sidebar__items d-flex flex-column">
      @for (item of menus; track item.index) {
      <div *ngIf="item.filhos">
        <div
          [ngClass]="{ 'sidebar__father--open': isOpenFather(item.index) }"
          class="sidebar__childs d-flex flex-column"
        >
          <div
            class="sidebar__childs__title d-flex justify-content-between"
            [ngClass]="{ 'sidebar__child--center': !sidebar.expanded }"
            (click)="openItemMenu(item)"
          >
            <span>{{ item.title }}</span>
            <span *ngIf="sidebar.expanded">&lt;</span>
          </div>

          @for (itemFilho of item.filhos; track itemFilho.index) {
          <div 
            [ngClass]="{ 'sidebar__child--center': !sidebar.expanded }"
            [routerLink]="item.link + '/' + itemFilho.link"
          >
            <img [src]="itemFilho.icon" />
            <span *ngIf="sidebar.expanded">{{ itemFilho.title }}</span>
          </div>
          }
        </div>
      </div>

      <div
        *ngIf="!item.filhos"
        class="sidebar__no-childs"
        (click)="openItemMenu(item)"
        [routerLink]="item.link"
        [ngClass]="{ 'sidebar__child--center': !sidebar.expanded }"
      >
        <img [src]="item.icon" />
        <span *ngIf="sidebar.expanded">{{ item.title }}</span>
      </div>
      }
    </div>
  </div>
</section>
