.modal .modal-content {
    height: 100%;
    border-radius: 8px;
  }
  
  .drawer__body {
    padding: 16px;
  }
  
  ::ng-deep .modal .modal-xxl {
    width: calc(100% - 9rem) !important;
    max-width: none;
  }
  
  ::ng-deep .modal .modal-full {
    width: 100% !important;
    max-width: none;
  }
  
  @media screen and (max-width: 576px) {
    ::ng-deep .modal .modal-xxl {
      width: 100% !important;
    }
  }
  