<section class="register-clothe d-flex flex-column">
  <form
    [formGroup]="registerClotheForm"
    class="register-clothe__form row d-flex flex-column"
  >
    <div class="register-clothe__container col-12">
      <div class="register-clothe__container__content">
        <img class="register-clothe__content__image" [src]="imageSelected" />

        <div class="register-clothe__content__box">
          <p>Selecione</p>

          <input
            #file
            type="file"
            formControlName="image"
            accept="image/png, image/jpg, image/jpeg"
            (change)="changeFile()"
          />
        </div>
      </div>
    </div>

    <div [attr.readOnly]="!(indexSection === 1)" class="col-12 mt-2">
      <label>Categoria <em>*</em></label>

      <select formControlName="section" class="w-100">
        @for (option of menusOptions; track option) {
        <option [value]="option.index">
          {{ option.title }}
        </option>
        }
      </select>
    </div>

    <div class="col-12">
      <label>Roupa limpa? <em>*</em></label>

      <select placeholder="Escolha" formControlName="clean" class="w-100">
        @for (option of clotheOptions; track option) {
        <option [value]="option.value">
          {{ option.text }}
        </option>
        }
      </select>
    </div>
  </form>

  <div
    class="d-flex flex-column-reverse justify-content-end flex-sm-row mt-2"
    style="row-gap: 8px"
  >
    <button
      class="btn-style w-100"
      (click)="addClothe()"
    >
      Adicionar
    </button>
  </div>
</section>
