* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Poppins', Verdana, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary-700);
}

:root {
  --color-primary: #EC60A3;
  --color-primary-100: #FF73B6;
  --color-primary-300: #ffaed5;
  --color-primary-700: #FFEDF9;
  --white: #ffffff;
  --black: #141414;
  --shadow: #00000033;
  --gray: #0000000d;
  --red: #ff0000;
}

em {
  color: var(--red);
}

.clothe-btn-add {
  background-color: var(--color-primary-100);
  color: var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary);
  }
}

select {
  border: 2px solid var(--shadow);
  border-radius: 4px;
  padding: 6px;
}

.container__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}