<section class="container__section">
  <div class="container__section__title">
    <h3>Dashboard</h3>
    <app-new-clothe-button></app-new-clothe-button>
  </div>

  <h5>Favoritos</h5>

  <div *ngIf="clothesFavoriteData.length > 0; else noClothes" class="container__section__cards">
    @for (clothe of clothesFavoriteData; track clothe.id) {
    <app-card [clotheData]="clothe"></app-card>
    }
  </div>

  <hr />

  <h5>Roupas sujas</h5>

  <div *ngIf="clothesCleanData.length > 0; else noClothes" class="container__section__cards">
    @for (clothe of clothesCleanData; track clothe.id) {
    <app-card [clotheData]="clothe"></app-card>
    }
  </div>

  <ng-template #noClothes>
    <p class="not-clothes">Não há vestimentas nesta seção!</p>
  </ng-template>
</section>
